body {
  margin: 0;
}

.row {
  display: table;
}
.cell {
  height: 50px;
  width: 50px;
  background: darkgrey;
  border-style: solid;
  border-color: black;
}

.cellGrid {
  margin-top: 10px;
  margin-left: 20px;
}

